form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sign-up-form > input {
    border-radius: 12px;
    margin: 0px 0px;
}

.signup-form-title {
    text-align: center;
    margin-top: 30px;
}
