form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > input {
    margin-top: 7.5px;
}

form > button {
    margin-top: 10px;
    width: 40%;

}

.signup-form-title {
    text-align: center;
}
