.host-form-title {
    text-align: center;
    margin: 20px 0px;
}

.host-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.host-form-errors {
    margin-top: 30px;
}

.create-listing-form input {
    padding: 0px 15px;
    border-top: 0px;
}

#create-listing-top-input {
    border-top: 1px solid grey;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#create-listing-bottom-input {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
