.spot-card-container {
    margin: 12.5px;
}

.spot-display-image {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 12.5px; */
    overflow: hidden;
    width: 18em;
    height: 18em;
    border-radius: 5%;
}

.preview-image {
    flex: 1;
    height: 100%;
}

.location-stars-container {
    display: flex;
    justify-content: space-between;
}
