@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('./fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}

.text-link {
    color: inherit;
    text-decoration: inherit;
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body, html {
    font-family: Montserrat;
}

/* ::placeholder {
    text-align: center;
} */
