/* @font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('./fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype'); */
/* } */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-grey: #222222;
    --light-grey: #717171;
}

#booking-errors {
    margin: 0;
}


#root {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'souls';
    src: url(./fonts/souls.ttf) format('ttf');
}

@font-face {
    font-family: 'soulsB';
    src: url(./fonts/soulsB.ttf) format('ttf');
}

@font-face {
    font-family: 'cereal';
    src: local('cereal'), url(./fonts/cereal.woff2) format('woff');
}

@font-face {
    font-family: 'cerealM';
    src: local('cerealM'), url(./fonts/cerealM.woff2) format('woff');
}

.button-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    font-family: 'cereal';
}

.stop-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    white-space: normal;
}

* {
    font-family: 'cereal', Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-size: 14px;
    line-height: 1.43;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

textarea:required {
    box-shadow: none;
    resize: none;
}


#delete-listing-icon,
#edit-listing-icon {
    height: 17px;
    padding-bottom: 3px;
}

#edit-listing-button,
#delete-listing-button {
    border: 0;
    background-color: white;
}

.airbnb-button {
    background-image: radial-gradient(circle at center,
            #FF385C 0%,
            #E61E4D 27.5%,
            #E31C5F 40%,
            #D70466 57.5%,
            #BD1E59 75%,
            #BD1E59 100%) !important;
    background-size: 200% 200%;
}

#login-button,
#signup-submit-button,
#create-new-listing-button,
#submit-review-button {
    margin-top: 15px;
    width: 27.083vw;
    height: 48px;
    border-radius: 8px;
    border: 0;
    background: linear-gradient(0.25turn, #E61E4D, #D70666);
    color: white;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

#login-button:active,
#signup-submit-button:active,
#create-new-listing-button:active,
#submit-review-button:active {
    transform: scale(0.9);
}

#delete-listing-button:hover,
#edit-listing-button:hover,
#create-new-listing-button:hover,
#signup-submit-button {
    cursor: pointer;
}

input,
textarea {
    height: 52px;
    width: 27.083vw;
    border: 1px solid grey;
    padding-left: 15px;
}

textarea::placeholder {
    padding-top: 16px;
}
