.test {
    animation: none;
    animation-delay: 0;
    animation-direction: normal;
    animation-duration: 0;
    animation-fill-mode: none;
    animation-iteration-count: 1;
    animation-name: none;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background: 0;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    border: 0;
    border-style: none;
    border-width: medium;
    border-color: inherit;
    border-bottom: 0;
    border-bottom-color: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-collapse: separate;
    border-image: none;
    border-left: 0;
    border-left-color: inherit;
    border-left-style: none;
    border-left-width: medium;
    border-radius: 0;
    border-right: 0;
    border-right-color: inherit;
    border-right-style: none;
    border-right-width: medium;
    border-spacing: 0;
    border-top: 0;
    border-top-color: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-top-width: medium;
    bottom: auto;
    box-shadow: none;
    box-sizing: content-box;
    caption-side: top;
    clear: none;
    clip: auto;
    color: inherit;
    columns: auto;
    column-count: auto;
    column-fill: balance;
    column-gap: normal;
    column-rule: medium none currentColor;
    column-rule-color: currentColor;
    column-rule-style: none;
    column-rule-width: none;
    column-span: 1;
    column-width: auto;
    content: normal;
    counter-increment: none;
    counter-reset: none;
    cursor: auto;
    direction: ltr;
    display: inline;
    empty-cells: show;
    float: none;
    font: normal;
    font-family: inherit;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: auto;
    hyphens: none;
    left: auto;
    letter-spacing: normal;
    line-height: normal;
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    opacity: 1;
    orphans: 0;
    outline: 0;
    outline-color: invert;
    outline-style: none;
    outline-width: medium;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    padding: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
    perspective: none;
    perspective-origin: 50% 50%;
    position: static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes: '\201C' '\201D' '\2018' '\2019';
    right: auto;
    tab-size: 8;
    table-layout: auto;
    text-align: inherit;
    text-align-last: auto;
    text-decoration: none;
    text-decoration-color: inherit;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    top: auto;
    transform: none;
    transform-style: flat;
    transition: none;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: none;
    transition-timing-function: ease;
    unicode-bidi: normal;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    widows: 0;
    width: auto;
    word-spacing: normal;
    z-index: auto;
    /* basic modern patch */
    all: initial;
    all: unset;
}

/*
.main-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maint-display-container p, h2, h1 {
    margin: 0px;
}

h1 {
    font-size: 26px;
    padding-bottom: 5px;
}

.outer-spot-info-container {
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: center;
}

.inner-spot-info-container {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    min-width: 29.083vw;
    max-width: 40vw;
}
.top-div-star {
    height: 13.5px;
    width: 13.5px;
}

.dot-add-padding {
    padding: 0px 8px;
}


.spot-images-container {
    overflow: hidden;

    max-width: 650px;
    height: 431px;
    display: flex;
    justify-content: center;

}
.main-spot-image {
    border-radius: 12px;
    flex: 1;
    height: 100%
}


.below-image-container {
    display: flex;
    width: 35.083vw;
    height: 110px;
    justify-content: space-between;
    align-items: center;
}

.hosted-by-price-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;;
}
.hosted-by-text {
    font-size: 22px;
}
.avatar-price-wrapper {
    display: flex;
}
.user-avatar {
    width: 56px;
    height: 56px;

}
.edit-delete-buttons {
    padding-left: 10px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.under-image-spot-price-text {
    font-weight: bold;
}
.avatar-and-buttons-wrapper {
    display: flex;
    align-items: center;
}
.bottom-reviews-star {
    width: 15px;
    height: 15px;
}


.spot-display-review-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.spot-display-review-header {
    border-top: 1px solid lightgrey;
    padding-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.inner-description-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35vw;
    margin: 15px 0px;
    padding-left: 10px;
    padding-top: 15px;
    border-top: 1px solid lightgrey;

}

.spot-reviews-display {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
  }



.add-review-modal-button {
    background-color: white;
    padding: 13px 23px;
    margin-left: 20px;
    border-radius: 8px;
    font-weight: bold;
    border: 1px solid black;
}

.add-review-modal-button:hover {
    cursor: pointer;
}
.add-review-modal-button:active {
    transform: scale(0.9);
} */
