.spot-display-image {
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 41, 41);
    color: white;
    width: 300px;
    height: 200px;
    margin: 30px;
    justify-content: center;
    align-items: center;
}

.spot-display-container {
    display: flex;
}
