.home-nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}

.profile-icons-container {
    border: 1px  grey;
    border-radius: 40%;
    padding: 5px;
}
.home-nav-links > * {
    margin-right: 130px;
    border: 1px solid rgba(red, green, blue, .7)
}

.fa-circle-user {
    margin-left: 5px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid lightgrey;
}

.header-icon {
    object-fit: contain;
    height: 50px;
    margin-left: 130px;
}
