.home-nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}

.home-nav-links > * {
    margin: 0px 20px;
}


.profile-button {
    width: 30px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
}

.header-icon {
    object-fit: contain;
    height: 50px;
    margin-left: 50px;
}
