.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75.88vw;
    background-color: white;
    height: 80px;
}
.entire-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    background-color: white;
    top: 0;
    height: 80px;
    position: sticky;
}

.logo-container {
    width: 599px;
    display: flex;
    justify-content: flex-start;
}

.home-nav-links {
    display: flex;
    justify-content: flex-end;
    width: 599px;
    align-items: center;

}

.middle-div {
    border: 1px solid white;
    width: 400px;
}
.profile-icons {
    display: flex;
    align-items: center;
}

.profile-icons-container {
    display: flex;
    border: 1px solid #dddddd;
    border-radius: 23px;
    width: 77px;
    height: 42px;
    margin-left: 50px;
}

.profile-icons-container:hover {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
	transition: 0.2s;
}

.hamburger-icon {
    height: 16px;
    width: 16px;
    padding-left: 10px;
}
.user-icon {
    height: 30px;
    width: 30px;
    padding: 5px 5px 5px 15px;
}


.header-icon {
    object-fit: contain;
}

.create-new-spot-link {
    font-size: 14px;
    font-weight: 450;
    margin-left: 40px;
    /* letter-spacing: -.3px; */
}
